/* navigation bar */

ul.navbar {
    position: sticky;
    top:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.navbar {
    float: left;
  }
  
  li.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.navbar a:hover {   /* Change the link color to #111 (black) on hover */
    background-color: #ffe263ad;
  }

/* body, headings, and paragraph styles */

body{
    font-family: 'Fauna One', serif;
    font-size: 16px; 
    margin: 0px;
}

h2, p{
    margin: 15px;
}

/*picture and gallery formatting */

div.flower{
    float: left;
    width: 22%;
    padding: 20px;
}

img.flower:hover{
    border: 0px solid #777;
    opacity: .5;
}

div.container {
    position: relative;
    width: 100%;
  }
  
  div.middle {
    transition: .5 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 0px;
    transform: translate(-50%, -50%);
    -ms-transfrom: translate(-50%, -50%);
    text-align: center;
  }
  
  div.container:hover .flower {
    opacity: 0.3;
  }
  
  div.text:hover .flower {
    opacity: 0.3;
  }
  
  div.text {
    color: black;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  img.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

div.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

img.beePic{
    float: left;
    padding: 20px;
}

img.beePic:hover{
    opacity: .5;
}

.gallery {
    padding: 0px 8px 0px 8px;
    float: left;
    width: 600px;
  }
  
  @media only screen and (max-width: 700px) {
    .gallery {
      width: 550px;
      margin: 6px 6px 0 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .gallery{
      width: 100%;
    }
  }